<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="footer">
    <footer class="fixed-bottom py-2 bg-black">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-center text-white m-0 small">Topic 7 - Challenge Java Academy - Globant</p>
                </div>
                <div class="col">
                    <span class="text-center text-white m-0 small px-4">
                        <i class="fas fa-globe-americas"></i>
                    </span>
                    <a href="" th:href="@{''(lang=en_US)}" th:text="#{language.english}"></a>
                    <span class="text-center text-white m-0 small px-4">|</span>
                    <a href="" th:href="@{''(lang=es_ES)}" th:text="#{language.spanish}"></a>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>